/* IST POPUP */


.popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
  }
   
  .popup .content {
    border-radius: 10px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width:95%;
    max-width:500px;
    height:250px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
  }
   
  .popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222; 
     color:#fff;
    
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
  }
   
  .popup.active .overlay {
    display:block;
  }
   
  .popup.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
  }
   
.registr-txt-popup1{
    padding-top: 2vw;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}

.btn-submit-popup1{
  height: 1.8vw;
  width: 6.1vw;
  border: .8px solid grey;
  background-color: red;
  color: white;
  font-size: 1rem;
  border-radius: 0;
  margin-left: -1vw;
  outline:none!important;
}

.input-txt-popup1{
    height: 1.8vw;
    width: 10vw;
    border: 1px solid grey;
    font-size: 1.1rem;
}


  /* button {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:15px;
    font-size:18px;
    border:2px solid #222;
    color:#222;
    text-transform:uppercase;
    font-weight:600;
    background:#fff;
  } */


  /* 2ND POPUP */

/* HARIOM */


  .popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
  }

  .popup .content2{
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(15, 1fr);
background-color: #ffebd9;


    height: 80%!important;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    /* background: #fff; */
    width: 60%!important;
    /* max-width: 500px; */
    height: 250px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
  }
  
  .speaker-column{
    position: relative;
  }

  .popup .close-btn2 {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
  }

  .popup.active .overlay {
    display:block;
  }

  .popup.active .content2 {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
  }

  .registr-txt{
    padding-top: 2vw;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}

.btn-submit-popup{
    height: 1.8vw;
    width: 6.1vw;
    border: .8px solid grey;
    background-color: red;
    color: white;
    font-size: .9rem;
    border-radius: 0;
}

.input-txt{
    height: 1.8vw;
    width: 10vw;
    border: 1px solid grey;
    font-size: 1rem;
}

.hari-image{
  height: 22vh;
    width: 22vh;
    border-radius: 50%;
    grid-column: 2/5;
    grid-row: 3/6;
    align-self: center;
    justify-self: center;
}

.hari-name{
  grid-column: 6/10;
  grid-row: 3/4;
  font-size: 1.5vw;
  color: #02405f;
  font-weight: 600;
  justify-self: baseline;
}

.hari-designation{
  grid-column: 6/10;
    color: #02405f;
    grid-row: 4/5;
    font-size: 1.2vw;
    font-weight: 600;
    align-self: center;
    justify-self: baseline;
}

.hari-tagglabs{
  grid-column: 6/10;
  grid-row: 5/6;
  font-size: 1.1vw;
  color: #02405f;
  font-weight: 600;
  justify-self: baseline;
  align-self: center;
}


/* LAKSHAY */


.lakshay-image{
  height: 22vh;
    width: 22vh;
    border-radius: 50%;
    grid-column: 2/5;
    grid-row: 3/6;
    align-self: center;
    justify-self: center;
}

.lakshay-name{
  grid-column: 6/10;
  grid-row: 3/4;
  font-size: 1.5vw;
  color: #02405f;
  font-weight: 600;
  justify-self: baseline;
}

.lakshay-designation{
  grid-column: 6/10;
  color: #02405f;
  grid-row: 4/5;
  font-size: 1.2vw;
  font-weight: 600;
  align-self: center;
  justify-self: baseline;
}

.lakshay-tagglabs{
  grid-column: 6/10;
  grid-row: 5/6;
  font-size: 1.1vw;
  color: #02405f;
  font-weight: 600;
  justify-self: baseline;
  align-self: center;
}



/* PANKAJ */



.pankaj-image{
  height: 22vh;
    width: 22vh;
    border-radius: 50%;
    grid-column: 2/5;
    grid-row: 3/6;
    align-self: center;
    justify-self: center;
}

.pankaj-name{
  grid-column: 6/10;
  grid-row: 3/4;
  font-size: 1.5vw;
  color: #02405f;
  font-weight: 600;
  justify-self: baseline;
}

.pankaj-designation{
  grid-column: 6/15;
  color: #02405f;
  grid-row: 4/5;
  font-size: 1.2vw;
  font-weight: 600;
  align-self: center;
  justify-self: baseline;
}

.pankaj-tagglabs{
  grid-column: 6/10;
  grid-row: 5/6;
  font-size: 1.1vw;
  color: #02405f;
  font-weight: 600;
  justify-self: baseline;
  align-self: center;
}