*{
    overflow-x: hidden;
}


body{
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
}

.main{
    height: 100vh;
    width: 100%;
    background-color: #ffebd6;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
}


.main-box{
    border: .5vh solid #ff0019;
    border-radius: 20px;
    grid-row: 4/13;
    grid-column: 6/11;
    height: 65vh;
    width: 60vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10,1fr);
}

.clk-img{
    grid-column: 3/5;
    grid-row: 2/5;
    justify-self: center;
    height: auto;
    width: 5vw;
}

.session-txt{
    grid-column: 2/6;
    grid-row: 5/6;
    color: white;
    font-size: 1.5vw;
    justify-self: center;
}

.verti-line{
    grid-column: 3/5;
    grid-row: 6/7;
    color: green;
    height: 3vw;
    width: .3vw;
    justify-self: center;
    border-radius: 25px;
}
  



  .date-txt{
    grid-column: 2/6;
    grid-row: 7/9;
    justify-self: center;
    color: white; 
    font-size: 1.2vw;  
   
}

.time-txt{
    color: white;
     margin-left: .3vw;
     font-size: 1.2vw;
}


.line-img{
    grid-column: 3/5;
    justify-self: center;
    grid-row: 10/11;
    height: auto;
    width: 4vw;
   
}